services:
  redis:
    image: redis:7
    container_name: redis_queue
    ports:
      - "6379:6379"

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: api_service
    command: npm run start
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RESEND_API_KEY=${RESEND_API_KEY}
    depends_on:
      - redis

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: email_worker_service
    command: npm run worker
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RESEND_API_KEY=${RESEND_API_KEY}
    depends_on:
      - redis
